.title{
  position: relative;
  left: 500px;
  top: 550px;
  color: white;
  font-size: 36px;
}
.subtitle{
  font-size: 20px;
  width: 450px;
  position: relative;
  left: 480px;
}
.titulo{
  width: 900px;
  position: relative;
  left: 300px;
}
.links{
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -1300px;
  left: 900px;
}
.links{
  padding-right: 2500px;
  text-decoration: none;
}
.links a{
  text-decoration: none;
  color: white;
  position: relative;
  right: 50px;
}
.buscar{
 position: relative;
 left: 1100px;
 top: -900px;
}
.buscar input{
  height: 60px;
  width: 400px;
  position: relative;
  right: 100px;
  border-radius: 25px;
  background-color: rgba(150, 150, 150, 0.301);
}
.buscador{
  position: relative;
  left: 1350px;
  top: -955px;
}
.icono{
  position: relative;
  top: -1460px;
  left: 2100px;
}
.imagen1{
  position: relative;
  top: -950px;
  left: 1928px;
}
.imagen2{
  position: relative;
  top: -880px;
  left: 1795px;
}
.imagen3{
  position: relative;
  top: -880px;
  left: 110px;
}
.imagen4{
  position: relative;
  top: -1130px;
  right: 30px;
}
.services{
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding-right: 1000px;
  position: relative;
  left: 60px;
  top: -150px;
}
.iconos{
  position: relative;
  top: -105px;
  right: 150px;
}
.services p{
  color: rgba(130, 130, 130, 1);
}
.card{
  font-size: 30px;
}
.referencia{
  font-size: 75px;
  position: relative;
  left: 800px;
}
.referen{
  font-size: 30px;
  position: relative;
  left: 850px;
}
.ref1{
  position: relative;
  left: 735px;
  top: -450px;
}
.ref3{
  position: relative;
  left: 50px;
}
.ref{
  position: relative;
  right: 505px;
}
.care{
  font-size: 40px;
  position: relative;
  left: 400px;
  width: 400px;
}
.p{
  width: 570px;
  font-size: 25px;
  color: rgba(79, 79, 79, 1);
}
.care2{
  position: relative;
  left: 480px;
}
.iconos2{
  position: relative;
  right: 120px;
  top: -140px;
}
.fondo2{
  background-color: rgba(40, 52, 68, 1);
  height: 645px;
  width: 2350px;
  position: relative;
  background-repeat: no-repeat;
  color: white;
}
.footer1{
  color: white;
  display: flex;
  justify-content: space-around;
  padding-right: 1600px;
  font-size: 20px;
  position: relative;
  left: 1040px;
  top: 50px;
}
.f1{
 width: 310px;
 position: relative;
 top: 20px;
}
.f2{
  width: 170px;
  height: 50px;
  padding-top: 10px;
  font-size: 20px;
  position: relative;
  top: 35px;
}
.f3{
  width: 150px;
  height: 50px;
  padding-top: 10px;
  font-size: 20px;
  position: relative;
  top: 30px;
}
.buscar2{
  position: relative;
  left: 100px;
  top: -180px;
 }
 .buscar2 input{
   height: 71px;
   width: 563px;
   position: relative;
   right: 100px;
   border-radius: 45px;
   background-color: rgba(150, 150, 150, 0.301);
 }
 .tib{
  height: 50px;
  width: 150px;
  font-size: 40px;
  position: relative;
  top: 200px;
  left: 230px;
 }
 .suscribe{
  width: 145px;
  height: 47px;
  color: white;
  background-color:  rgba(0, 158, 253, 1) ;  
  border-radius: 45px;
  position: relative;
  left: 640px;
  top: -48px;
 }
 .end{
  position: relative;
  left: 970px;
  font-size: 20px;
  top: 50px;
 }
 .card2{
  display: flex;
 }
 .loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: var(--bg-color-principal);
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
.pagination-item{
  color: #000 !important;
  font-size: 1.3em;
  text-transform: capitalize;
}
/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
